.editIDocError__form .ant-space,
.editIDocError__form .ant-space .ant-space-item:nth-child(2),
.editIDocError__form .ant-space .ant-space-item:nth-child(3) {
  width: 100%;
}
.editIDocError__add-fields {
  display: flex;
  align-items: center;
}
.editIDocError__add-fields .editIDocError__add-field-icon {
  margin-right: 8px;
}
.editIDocError__fields-placeholders-container {
  display: flex;
}
.editIDocError__icon-placeholder {
  width: 30px;
  margin-right: 8px;
}
.editIDocError__field-placeholder {
  width: 100%;
}
.editIDocError__form div.ant-space:nth-child(1) span.anticon.anticon-minus-circle {
  visibility: hidden;
}
.editIDocError__form .ant-typography.ant-typography-secondary {
  display: flex;
}
.editIDocError__form h5.ant-typography {
  line-height: 30px;
}
.editIDocError__form .anticon-question-circle {
  line-height: 36px;
}
.editIDocError__form .ant-checkbox {
  margin-left: 16px;
  margin-right: 8px;
}
